<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="80%">
        <mat-card>
            <div class="page-header">
                <label>Orders</label>
                <div>
                    <input placeholder="Search for Payment Id" (change)="onChange('search', $event)">
                    <select placeholder="Payment Gateway" (change)="onChange('gateway', $event)">
                        <option value="">Select Gateway</option>
                        <option value="GCash">GCash</option>
                        <option value="PayPal">PayPal</option>
                    </select>
                    <select placeholder="Payment Status" (change)="onChange('status', $event)">
                        <option value="">Select Status</option>
                        <option *ngFor="let stat of status" value="{{stat}}">{{stat}}</option>
                    </select>
                    <button mat-stroked-button (click)="clickSearch()"><mat-icon>search</mat-icon>Search</button>
                </div>
            </div>
            <hr />
            <mat-card-content>
                <div class="container" fxLayout="row" fxLayoutAlign="center none animate" *ngIf="initializing">
                    <mat-spinner></mat-spinner>
                </div>

                <div class="container" fxLayout="row" fxLayoutAlign="center none" *ngIf="!withRecords">
                    <div fxFlex="50%" class="text-center no-records animate">
                        <mat-icon>dashboard</mat-icon>
                        <p>No orders exist.</p>
                    </div>
                    <mat-icon> </mat-icon>
                </div>

                <div *ngIf="!initializing && withRecords">
                    <div class="header">
                        <p style="width: 15%">ID</p>
                        <p style="width: 15%">USER</p>
                        <p style="width: 10%">GATEWAY</p>
                        <p style="width: 20%">PAYMENT</p>
                        <p style="width: 14%; text-align: center;">STATUS</p>
                        <p style="width: 8%; text-align: right;">TOTAL AMOUNT</p>
                        <p style="width: 15%; text-align: right;">ORDER DATE</p>
                    </div>
                    <div *ngFor="let item of displayPayments">
                        <app-order-thumb [payment]="item"></app-order-thumb>
                    </div>
                </div>

                <div class="pagination" *ngIf="!initializing && withRecords">
                    <label>ITEMS PER PAGE:</label>
                    <select [value]="limit" (change)="changeLimit($event)">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <label>{{indexLabel}}</label>
                    <span (click)="first()" [class]="prevEnable==true?'page-tool':'page-tool-off'"><mat-icon>first_page</mat-icon></span>
                    <span (click)="prev()" [class]="prevEnable==true?'page-tool':'page-tool-off'"><mat-icon>chevron_left</mat-icon></span>
                    <span (click)="next()" [class]="nextEnable==true?'page-tool':'page-tool-off'"><mat-icon>chevron_right</mat-icon></span>
                    <span (click)="last()" [class]="nextEnable==true?'page-tool':'page-tool-off'"><mat-icon>last_page</mat-icon></span>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>