table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

.mat-card-actions{
    margin-right: 0px !important;
    margin-bottom: 0px !important;
}

.mat-cell{
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.mat-header-cell{
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.alight-right{
    text-align:right !important;
}

.searchtext{
    width: 500px;
    font-size: 14px;
    height: 32px;
    border: 1px solid #888;
    padding-left: 10px;
    padding-right: 10px;
}

mat-card-header{
    padding-top: 10px;
}

mat-card-footer{
    padding-bottom: 10px;
}

select{
    background-color: white;
    border: 1px solid #888;
    margin-left: 5px;
}

.status{
    width: 100px;
    height: 100%;
}

.recipient{
    width: 250px;
    height: 100%;
}

.event{
    width: 250px;
    height: 100%;
}

.search{
    width: 500px;
    height: 100%;
}

.searchButton{
    margin-right: 40px !important;
}