<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="98%">
    <mat-card>
      <div class="page-header">
        <label>Cards</label>
        <div>
          <input type="search" placeholder="Search for Name, Description or Code" (change)="onChange('search', $event)">
          <select (change)="onChange('event', $event)">
            <option value="">Select Event</option>
            <option *ngFor="let event of listOfEvents" value="{{event}}">{{event}}</option>
          </select>
          <select (change)="onChange('recipient', $event)">
            <option value="">Select Recipient</option>
            <option *ngFor="let recipient of listOfRecipients" value="{{recipient}}">{{recipient}}</option>
          </select>
          <select placeholder="Payment Status" (change)="onChange('status', $event)">
            <option value="">Select Status</option>
            <option value="active">Active</option>
            <option value="inactive">Inactive</option>
            <option value="bestseller">Best Seller</option>
            <option value="featured">Featured</option>
            <option value="signandsend">Sign and Send</option>
          </select>
          <button mat-stroked-button (click)="clickSearch()">
            <mat-icon>search</mat-icon>Search
          </button>
        </div>
      </div>
      <hr />
      <mat-card-content>
        <div class="actions">
          <button mat-stroked-button color="primary" class="button add-button" [routerLink]="['/cards', 'new']">
            <mat-icon>add</mat-icon>Create Card
          </button>
        </div>

        <div class="container" fxLayout="row" fxLayoutAlign="center none animate" *ngIf="initalizing">
          <mat-spinner></mat-spinner>
        </div>

        <div class="container" fxLayout="row" fxLayoutAlign="center none" *ngIf="!withRecords">
          <div fxFlex="50%" class="text-center no-records animate">
            <mat-icon>local_post_office_outline</mat-icon>
            <p>No cards exist.</p>
          </div>
          <mat-icon> </mat-icon>
        </div>

        <div *ngIf="!initalizing && withRecords">
          <div class="header">
            <p style="width: 4%">CODE</p>
            <p style="width: 20%">NAME</p>
            <p style="width: 25%">DESCRIPTION</p>
            <p style="width: 4%; text-align: right;">PRICE</p>
            <p style="width: 5%; text-align: center;">STATUS</p>
            <p style="width: 10%">EVENTS</p>
            <p style="width: 10%">RECIPIENTS</p>
            <p style="width: 5%; text-align: center;">SIGN & SEND</p>
            <p style="width: 4%; text-align: right;">RATINGS</p>
            <p style="width: 9%; text-align: center;">DATE</p>
            <p style="width: 3%"></p>
          </div>
          <div *ngFor="let card of displayCards">
            <app-card-thumb [card]="card"></app-card-thumb>
          </div>
        </div>

        <div class="pagination" *ngIf="!initalizing && withRecords">
          <label>ITEMS PER PAGE:</label>
          <select [value]="limit" (change)="changeLimit($event)">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
          <label>{{indexLabel}}</label>
          <span (click)="first()" [class]="prevEnable==true?'page-tool':'page-tool-off'">
            <mat-icon>first_page</mat-icon>
          </span>
          <span (click)="prev()" [class]="prevEnable==true?'page-tool':'page-tool-off'">
            <mat-icon>chevron_left</mat-icon>
          </span>
          <span (click)="next()" [class]="nextEnable==true?'page-tool':'page-tool-off'">
            <mat-icon>chevron_right</mat-icon>
          </span>
          <span (click)="last()" [class]="nextEnable==true?'page-tool':'page-tool-off'">
            <mat-icon>last_page</mat-icon>
          </span>
        </div>

        <!--
        <table mat-table [dataSource]="dataSource" *ngIf="withRecords && !initalizing" class="animate" matSort
          (matSortChange)="sortData($event)">
          <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Code </th>
            <td mat-cell *matCellDef="let element"> {{element.code}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>

          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="alight-right"> Price </th>
            <td mat-cell *matCellDef="let element" class="alight-right"> {{element.price | number:'.2-2'}} </td>
          </ng-container>

          <ng-container matColumnDef="event">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Type of Event </th>
            <td mat-cell *matCellDef="let element"> {{element.event}} </td>
          </ng-container>

          <ng-container matColumnDef="recipient">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Type of Recipient </th>
            <td mat-cell *matCellDef="let element"> {{element.recipient}} </td>
          </ng-container>

          <ng-container matColumnDef="ratings">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Average Ratings </th>
            <td mat-cell *matCellDef="let element"> {{element.ratings | number:'.2-2'}} </td>
          </ng-container>

          <ng-container matColumnDef="active">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Active </th>
            <td mat-cell *matCellDef="let element"> {{ element.active ? "Active" : "Inactive" }} </td>
          </ng-container>

          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
            <td mat-cell *matCellDef="let element">
              {{element.modified?element.modified.toDate().toLocaleString():element.created.toDate().toLocaleString()}}
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
              <a mat-stroked-button color="primary" [routerLink]="['/cards', element.id]">
                <mat-icon>edit</mat-icon>
                Edit
              </a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      -->
      </mat-card-content>
      <!--<hr />
      <mat-card-footer>
        <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
          (page)="onPageChange($event)" aria-label="Select page"></mat-paginator>
      </mat-card-footer>-->
    </mat-card>

  </div>
</div>