<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="70%">
        <mat-card>
            <mat-card-content>
                <h2>Order Detail</h2>

                <hr>

                <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
                    <div fxFlex="100%">
                        <p *ngIf="order"><b>#:</b> <strong>{{order.id}}</strong></p>

                        <section style="padding:10px;border:1px solid #ccc;border-radius:5px">
                            <p *ngIf="order && card"> <b>Card Id: #</b> <strong>{{card.id}}</strong> &nbsp; &nbsp; <a
                                    [routerLink]="['/cards', card.id]" title="show card link">Open Card</a></p>
                            <p *ngIf="order && card"> <b>Card:</b> {{card.name!}}</p>
                        </section>
                        <section>
                            <p *ngIf="order"> <b>Price:</b> {{order.card_price!.toFixed(2)}}</p>
                        </section>
                        <table>
                            <tr>
                                <td>
                                    <section style="padding:10px;border:1px solid #ccc;border-radius:5px">
                                        <h3>Sender</h3>
                                        <p *ngIf="order"><b>Name:</b> {{order.sender_name!}}</p>
                                        <p *ngIf="order"> <b>Phone:</b> {{order.sender_phone!}}</p>
                                        <p *ngIf="order"> <b>Email:</b> {{order.sender_email!}}</p>
                                    </section>
                                </td>
                                <td>
                                    <section style="padding:10px;border:1px solid #ccc;border-radius:5px">
                                        <h3>Recipient</h3>
                                        <p *ngIf="order"> <b>Name:</b> {{order.receiver_name!}}</p>
                                        <p *ngIf="order"> <b>Phone:</b> {{order.receiver_phone!}}</p>
                                        <p *ngIf="order"> <b>Email:</b> {{order.receiver_email!}}</p>
                                    </section>
                                </td>
                            </tr>
                        </table>

                        <section>
                            <p *ngIf="order"><b>Deliver Address:</b> {{order.address!}}</p>
                        </section>

                        <section>
                            <p *ngIf="order && order.anonymously"><b>Send Anonymously</b></p>
                        </section>

                        <section>
                            <p *ngIf="order"> <b>Send to:</b> {{order.sendto}} {{order.sendto == 'Receiver'? '(' +
                                order.receiver_name + ')' : '(' + order.sender_name + ')'}}</p>
                        </section>

                        <section *ngIf="order && order.withSignAndSend">
                            <button type="button" mat-raised-button color="primary"
                                (click)="previewSignAndSend()">Preview Sign and Send</button>
                        </section>
                        <!--
                        <section>
                            <div><b>Message:</b></div>
                            <br />
                        </section>
                        <section style="padding:10px;border:1px solid #ccc;border-radius:5px; min-height: 100px;"
                            *ngIf="order"> {{order.message}}</section>
                        <br /><br />-->
                        <section style="padding:10px;border:1px solid #ccc;border-radius:5px">
                            <h3>Payment</h3>
                            <p *ngIf="order && payment"> <b>Payment Id:</b> #{{payment.id!}}</p>
                            <p *ngIf="order && payment"> <b>Gateway:</b> {{payment.gateway}}</p>
                            <p *ngIf="order && payment"> <b>Total Paid Amount:</b> {{payment.total.toFixed(2)}}</p>
                            <p *ngIf="order && payment && (payment.gateway == 'PayPal')"> <b>Transaction Id:</b> {{payment.transactionId}}</p>
                            <p *ngIf="order && payment && (payment.gateway == 'PayPal')"> <b>Payer Id:</b> {{payment.payerId}}</p>
                            <p *ngIf="order && payment && (payment.gateway == 'PayPal')"> <b>Payer Email:</b> {{payment.payerEmail}}</p>
                            <p *ngIf="order && payment && (payment.gateway == 'GCash')"> <b>Proof:</b>&nbsp;&nbsp;<a href="{{proof}}" target="_blank"> {{payment.proof}}</a></p>
                            <p *ngIf="order && payment"> <b>Status:</b> {{payment.status}}</p>
                        </section>
                        <!--
                    <section>
                        <p>Status</p>
                        <form [formGroup]="statusForm"  class="animate" (ngSubmit)="updateStatus()">
                            <mat-form-field class="status-field" appearance="fill">
                                <mat-label>Status</mat-label>
                                <mat-select formControlName="status">
                                    <mat-option *ngFor="let status of statuses" [value]="status.name">{{status.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <button mat-raised-button color="primary" class="updateBtn" type="submit">Update Status</button>
                        </form>
                    </section>

                    <section>
                        <button type="button" mat-raised-button color="primary" (click)="emailStatus()">Update Customer</button>
                    </section>
                    -->
                    </div>
                </div>

            </mat-card-content>
        </mat-card>
    </div>
</div>