.full-width {
    width: 100%;
}

.mat-card-actions{
    margin-right: 0px !important;
    margin-bottom: 0px !important;
}

section{
    padding-left: 10px;
    padding-right: 10px;
}

section p{
    font-size: 15px;
}

strong{
    font-size: 18px;
}

img{
    width: 100%;

}

.status-field{
    width: 50%;
}

.updateBtn{
    margin-left: 20px;
}
