.full-width {
    width: 100%;
}

.mat-card-actions{
  margin-right: 0px !important;
  margin-bottom: 0px !important;
}

.mat-cell{
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.mat-header-cell{
  padding-left: 10px !important;
  padding-right: 10px !important;
}

mat-card-header{
  padding-top: 10px;
}

mat-card-footer{
  padding-bottom: 10px;
}

mat-progress-bar{
    width: 200px;
    margin-top: 17px !important;
}

div.allitems{
  width: 100%;
}

div.item{
  float: left;
  border: #ccc solid 1px;
  height: 300px;
  width: 24%;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  display: flex;
}

div.item img{
  max-height: 100%;
  max-width: 100%;
}

div.item button{
  position: absolute;
}

.imageprogress{
  position: absolute;
}

div.item:hover{
  border: lightskyblue solid 1px;
}

div.item:hover img{
  opacity: 20%;
}

div.item:hover .primaryBtn{
  visibility: visible;
}

div.item:hover .closeBtn{
  visibility: visible;
}


div.item.action:hover{
  border: lightskyblue solid 1px;
}

div.item.action:hover .primaryBtn{
  visibility: visible;
}

div.item.action:hover .closeBtn{
  visibility: visible;
}

.primaryBtn{
  visibility: hidden;
  margin-left: 100px;
}

.closeBtn{
  visibility: hidden;
  margin-right: 100px;
}

.closeBtn:hover{
   font-size: 12px;
}

.primary{
  border: red solid 2px !important; 
}

@media only screen and (max-width: 700px) {
  div.item {
    width: 46%;
  }
}

@media only screen and (max-width: 500px) {
  div.item {
    width: 98%;
  }
}

div.gallery {
    border: 1px solid #ccc;
    position: relative;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery a {
    max-height: 300px;
  }

  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 6px 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

