<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="70%">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Images
                </mat-card-title>
            </mat-card-header>
            <hr />
            <mat-card-content>
                <mat-card-actions align="end">
                    <mat-progress-spinner mode="determinate" diameter="37" *ngIf=isUploading
                        value="{{progress | number:'1.0-0' }}"></mat-progress-spinner>
                    <input type="file" class="file-upload" (change)="uploadFile($event)" #fileUpload
                        style="display: none;">
                    <button mat-raised-button color="primary" type="button" (click)="fileUpload.click()" [disabled]="isUploading">
                        <mat-icon>cloud_upload</mat-icon>
                        {{isUploading? 'Uploading...' : 'Upload'}}
                    </button>
                </mat-card-actions>

                <div class="container" fxLayout="row" fxLayoutAlign="center none animate" *ngIf="initalizing">
                    <mat-spinner></mat-spinner>
                </div>

                <div class="container" fxLayout="row" fxLayoutAlign="center none" *ngIf="!withRecords">
                    <div fxFlex="50%" class="text-center no-records animate">
                        <mat-icon>images_outline</mat-icon>
                        <p>No images exist.</p>
                    </div>
                    <mat-icon> </mat-icon>
                </div>

                <div #dropListContainer class="example-list allitems" cdkDropListGroup>
                    <div class="example-box" *ngFor="let url of urls; let i = index" cdkDropList [cdkDropListData]="i">
                        <div *ngIf="url.visible" [ngClass]="url.primary? 'item primary' : 'item'" 
                            cdkDrag [cdkDragData]="i" (cdkDragEntered)="dragEntered($event)" (cdkDragMoved)="dragMoved($event)" (cdkDragDropped)="dragDropped($event)">
                            <mat-spinner [diameter]="30" class="imageprogress" *ngIf="url.url == ''"></mat-spinner>
                            <img src="{{url.url}}}" *ngIf="url.url != ''" alt="{{url.name}}">
                            <button mat-mini-fab color="primary" class="primaryBtn" (click)="changePrimary(url)"
                                *ngIf="!url.primary" title="Set as Primary">
                                <mat-icon>check</mat-icon>
                            </button>
                            <button mat-mini-fab color="warn" class="closeBtn" (click)="delete(url)" title="Remove">
                                <mat-icon>close</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>
            </mat-card-content>
        </mat-card>
    </div>
</div>