<h2 mat-dialog-title>Sign and Send</h2>
<br />
<mat-dialog-content class="main">
    <div class="main-div">
        <img class="sign-send-img" src="{{url}}">
        <div *ngFor="let textarea of textareas" [ngClass]="textarea.remove ? 'layout hidden' : 'layout'" cdkDrag cdkDragBoundary=".main-div"
            [style.top.px]="textarea.top" [style.left.px]="textarea.left" [style.width.px]="textarea.width"
            [style.height.px]="textarea.height" [style.visibility]="textarea.remove"
            (cdkDragStarted)="dragStarted(textarea.code)" (cdkDragEnded)="dragEnded(textarea.code, $event)"
            (click)="click(textarea.code)">
            {{textarea.code.toString()}}
        </div>
    </div>
    <div class="main-tools">
        <mat-card-content *ngIf="textarea">
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Id</mat-label>
                <input matInput placeholder="ID" value="{{textarea.code}}" readonly>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Width</mat-label>
                <input matInput type="number" placeholder="Width" value="{{textarea.width}}" min="50" max="800"
                    (keyup)="widthKeyup($event)" (change)="widthChange($event)">
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Height</mat-label>
                <input matInput type="number" placeholder="Height" value="{{textarea.height}}" min="50" max="500"
                    (keyup)="heightKeyup($event)" (change)="heightChange($event)">
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Character Limit</mat-label>
                <input matInput type="number" placeholder="Character Limit" value="{{textarea.limit}}" min="50"
                    max="500" (keyup)="limitKeyup($event)" (change)="limitChange($event)">
            </mat-form-field>
            <button class="mat-stroked-button mat-accent" (click)="remove()">Delete</button>
        </mat-card-content>
    </div>
</mat-dialog-content>
<mat-dialog-actions class="footer">
    <div class="tool">
        <button class="mat-stroked-button mat-primary" (click)="addTextarea()">Add Text</button>
    </div>
    <div class="tool pull-right">
        <button class="mat-stroked-button mat-basic" (click)="save()">Save</button>
        <button class="mat-stroked-button mat-warn" (click)="close()">Close</button>
    </div>
</mat-dialog-actions>