mat-card-actions{
    margin-left: 10px;
    margin-right: 10px;
}

.items{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.item{
    width: 20%;
}