<div class="main">
    <div class="div-id">
        <p><strong>{{card.code}}</strong></p>
    </div>
    <div class="div-name">
        <p><strong>{{card.name}}</strong></p>
    </div>
    <div class="div-desc">
        <p>{{card.description}}</p>
    </div>
    <div class="div-price">
        <p><strong>{{card.price | number:'1.2-2'}}</strong></p>
    </div>
    <div class="div-status">
        <p>{{card.active?'Active':'Inactive'}}</p>
    </div>
    <div class="div-event">
        <p *ngIf="card.events">
            <span *ngFor="let event of card.events">{{event}}<br/></span>
        </p>
    </div>
    <div class="div-recipient">
        <p *ngIf="card.recipients">
            <span *ngFor="let recipient of card.recipients">{{recipient}}<br/></span>
        </p>
    </div>
    <div class="div-signandsend">
        <p>{{card.signAndSend?'Yes':'No'}}</p>
    </div>
    <div class="div-ratings">
        <p><strong>{{card.ratings | number:'1.2-2'}}</strong></p>
    </div>
    <div class="div-date">
        <p>{{card.created.toDate().toLocaleString()}}</p>
    </div>
    <div class="div-action">
        <a title="Open Card" [routerLink]="['/cards', card.id]">
            <mat-icon>open_in_new</mat-icon>
        </a>
    </div>
</div>