.full-width {
    width: 100%;
}

.mat-card-actions{
    margin-right: 0px !important;
    margin-bottom: 0px !important;
}

.mat-cell{
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.mat-header-cell{
    padding-left: 10px !important;
    padding-right: 10px !important;
}

mat-card-header{
    padding-top: 10px;
}

mat-card-footer{
    padding-bottom: 10px;
}

.closebtn{
    top: 0px;
}

.mat-standard-chip .mat-chip-remove {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0;
    margin-top: -6px;
    background: none;
}