<div class="items">
    <label class="item">{{fee.name}}</label>
    <mat-form-field class="full-width" appearance="fill"  class="item">
        <mat-label>Metro Manila Rate</mat-label>
        <input matInput type="number" placeholder="Metro Manila Rate" value="{{fee.metromanila == 0?'':fee.metromanila| number:'.2-2'}}" (keypress)="onKeyPressEvent($event)" (change)="onChangeEvent('metromanila', $event)" class="right">
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill"  class="item">
        <mat-label>Luzon Rate</mat-label>
        <input matInput type="number" placeholder="Luzon Rate" value="{{fee.luzon == 0?'':fee.luzon| number:'.2-2'}}" (keypress)="onKeyPressEvent($event)" (change)="onChangeEvent('luzon', $event)" class="right">
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill"  class="item">
        <mat-label>Visayas Rate</mat-label>
        <input matInput type="number" placeholder="Visayas Rate" value="{{fee.visayas == 0?'':fee.visayas| number:'.2-2'}}" (keypress)="onKeyPressEvent($event)" (change)="onChangeEvent('visayas', $event)" class="right">
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill"  class="item">
        <mat-label>Mindanao Rate</mat-label>
        <input matInput type="number" placeholder="Mindanao Rate" value="{{fee.mindanao == 0?'':fee.mindanao| number:'.2-2'}}" (keypress)="onKeyPressEvent($event)" (change)="onChangeEvent('mindanao', $event)" class="right">
    </mat-form-field>
</div>